body {
  padding-top: 2em;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

table.table tr,
table.table th {
  text-align: center;
}

button.pull-right {
  margin-left: .5em;
}

.slider-selection {
  background: green;
}
